.instrument-sans {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  
.kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
  }

.imperial-script-regular {
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --vinho-escuro: #330000;
    --bege-escuro: #C4A29E;
    --bege-rosado: #EBA6A9;
    --bege-claro: #FFC6AC;
    --rosa-choque: #F40076;
    --bege-leve: #FFF5F7;
}


body {
    background-color: var(--bege-claro);
}


.header {
    background-color: var(--vinho-escuro);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0.5rem 0.25rem; 
    width: 100%;
}

.header__start {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    gap: 3rem; 
  }
  

.casinha__menu {
    background: none;
    border: none;
    cursor: pointer;    
    display: flex;       
}


.lirio__direita {
    align-content: flex-end;
    margin-right: 1rem;
}

.nav {
    display: flex;
    align-items: center; 
    gap: 5rem;
    list-style: none;      
}


.nav__link{
    text-decoration: none;
    color: var(--bege-rosado);
    font-family: "Instrument Sans", sans-serif;
    font-size: 1.1rem;
    transition: color 0.5s ease; 
}

.nav__link_elogios {
  text-decoration: none;
  color: var(--rosa-choque);
  font-family: "Instrument Sans", sans-serif;
  font-size: 1.1rem;
}

.nav__link:hover {
    color: var(--rosa-choque);
    text-decoration: none;
  }


  .casinha__menu img {
    transition: transform 0.2s ease;
    width: 4rem;
    height: auto; 
  }
  
  .casinha__menu:hover img {
    animation: puloBrilho 0.6s ease;
    filter: drop-shadow(0 0 8px var(--rosa-choque));
  }
  
  
  @keyframes puloBrilho {
    0% {
      transform: translateY(0) scale(1);
      filter: brightness(1);
    }
    30% {
      transform: translateY(-8px) scale(1.05);
      filter: brightness(1.3);
    }
    60% {
      transform: translateY(0) scale(1);
      filter: brightness(1.1);
    }
    100% {
      transform: translateY(-2px);
      filter: brightness(1);
    }
  }


.momentos__bloco {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 5rem;
}

.bloco {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
.bloco__bloco_central {
    margin: 2rem 0;
  }


.lado__esquerdo, 
.lado__direito {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    max-width: max-content;
    align-items: flex-start;
}


.texto__lado {
    color: var(--bege-leve);
    font-family: "Kalam", cursive;
    font-size: 1.1rem;
    line-height: 1.6rem;
    flex: 1;
}